.breadcrumb {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #6f7383;
  margin-top: 32px;
  margin-bottom: 32px;
  @media (max-width: 1080px) {
    display: none !important;
  }
  img {
    // width: 6px;
    padding: 0px 7px;
  }
  span {
    &:last-child {
      color: red;
    }
  }
}
