.card-list {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  width: 780px;
  margin-bottom: 0.5rem;

  @media (max-width: 1080px) {
    width: 100%;
    margin-bottom: 0rem;
    border-bottom: 1px solid #e4e7eb;
    border-radius: 0px;
  }

  @media (max-width: 730px) {
    display: block;
  }

  .card-img {
    max-width: 200px;
    @media (max-width: 730px) {
      margin-top: 10px;
      max-width: none;
    }
    img {
      max-width: 180px;
      max-height: 140px;
      border-radius: 8px;
      @media (max-width: 730px) {
        max-width: none;
        max-height: none;
      }
    }
  }

  .card-lside {
    text-align: end;
    font-size: 11px;
    @media (max-width: 730px) {
      display: none;
    }
    .success {
      color: #26b753;
    }
    .danger {
      color: #ff3b30;
    }
    .amount {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      span {
        font-weight: 500;
        font-size: 20px;
      }
      img {
        margin-left: 5px;
      }
    }
    .actions {
      position: relative;
      top: 43px;
    }
  }

  .m-actions {
    display: none;
    @media (max-width: 730px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      color: #8996ae;
      font-size: 11px;
    }
  }

  .views {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    color: #6f7383;
    position: relative;
    top: 25px;
    @media (max-width: 730px) {
      display: none;
    }
    p {
      margin-bottom: 0px;
    }
  }
  .card-h {
    display: flex;
    font-size: 14px;
    .yare {
      color: #8c929b;
      margin-left: 8px;
    }
  }

  .card-desc {
    width: 70%;
  }

  .desc-item {
    display: flex;
    align-items: self-end;
    &:nth-child(3) {
      margin-top: 0.5rem;
    }
    @media (max-width: 730px) {
      margin-top: 10px;
    }
    img {
      &:not(.geo-flag) {
        @media (max-width: 730px) {
          display: none;
        }
      }
    }
    span {
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
      @media (max-width: 730px) {
        margin-left: 0px;
      }
    }
  }
}
