.filter {
  width: 250px;
  max-height: 540px;
  background-color: #ffff;
  border-radius: 12px 12px 0px 0px;
  border: 1px solid #e2e5eb;
  box-shadow: 0px 2px 16px rgba(39, 42, 55, 0.13);

  @media (max-width: 1080px) {
    display: none;
  }

  .tabs {
    width: 100%;
    display: flex;
    background-color: #f9f9fb;
    border-radius: 12px 12px 0px 0px;
    .tab-item {
      width: 33.3%;
      display: flex;
      justify-content: center;
      padding: 8px 0px;
      border-bottom: 1px solid #e9e9f0;
      &:nth-child(2) {
        border-left: 1px solid #e9e9f0;
        border-right: 1px solid #e9e9f0;
      }
    }
    .active {
      background-color: #ffff;
      border-bottom: 1px solid #fd4100;
      border-radius: 12px 0px 0px 0px;
    }
  }

  .filter-footer {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(39, 42, 55, 0.13);
  }
}
