.form {
  .form-select {
    font-weight: 500;
    font-size: 13px;
    color: #1b1d25;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
  }

  .form-control {
    font-weight: 500;
    font-size: 13px;
    color: #1b1d25;
    padding: 10px 12px;
    border-radius: 8px;
  }

  .form-label {
    font-weight: 500;
    font-size: 12px;
    color: #272a37;
  }
}
