.product-filter {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1080px) {
    display: none;
  }
}

.prod-list {
  margin-left: 20px;
  @media (max-width: 1080px) {
    margin-left: 0px;
    margin-top: 30px;
  }
}

.show-m {
  display: flex !important;
  @media (min-width: 730px) {
    display: none !important;
  }
}

.hide-m {
  display: block;
  @media (max-width: 730px) {
    display: none !important;
  }
}

.m-amount {
  display: none;
  @media (max-width: 731px) {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    span {
      font-weight: 700;
      font-size: 20px;
    }
  }
}

.m-card-lside {
  display: none;
  @media (max-width: 731px) {
    display: flex;
    align-items: center;
    background-color: #eefbf1;
    color: #1eb676;
    justify-content: center;
    padding: 0px 8px;
    border-radius: 6px;
    font-size: 10px;
    img {
      margin-right: 5px;
    }
  }
}
